@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: ‘Merriweather’, Georgia, serif; 
    font-size: 16px;
    font-weight: 500;
}

input {
    height: 40px;
    border: 1px solid #f1b999;
    padding-left: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #c94305
}

.outlined-btn {
    border: 1px solid #b74a00;
    color: #b74a00;
    padding: 10px 20px;
    height: 40px;
    text-transform: uppercase;
}

.contained-btn {
    background-color: #b74a00;
    color: white;
    padding: 5px 20px;
    text-transform: uppercase;
}